<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav>  
        <div class="d-flex gap-2 bg-light p-3 rounded-2">
            <a class="btn btn-link text-decoration-none hover-effect" href="/">Home</a>    
            <a class="btn btn-link text-decoration-none hover-effect" href="/home/about">About</a>    
            <a class="btn btn-link text-decoration-none hover-effect" href="/home/privacy">Privacy</a>
            <a class="btn btn-link text-decoration-none hover-effect" href="/student/index">Students</a>
        </div>      
    </nav>
    
    <main class="container mt-4">
        @RenderBody()
    </main>

    <footer class="footer border-top bg-light text-muted text-center">
        &copy; 2023 - SMS.Web 
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>